.animation-blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: step-start;
  animation-fill-mode: forwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation-shake {
  animation-name: shake;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    rotate: 0;
  }

  20% {
    rotate: 5deg;
  }

  40% {
    rotate: -5deg;
  }

  60% {
    rotate: 5deg;
  }

  80% {
    rotate: -5deg;
  }

  100% {
    rotate: 0deg;
  }
}

.animation-duration-1 {
  animation-duration: 1s;
}
